
.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
}

.form__buttons {
    display: contents;
}

.form svg {
    margin-left: 5px;
}


@media (max-width: 1099px) {
    .form {
        flex-direction: column;
    }

    .form__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
}

