@media (min-width: 1100px) {
  .header__mobile {
    display: none;
  }
}

@media (max-width: 1099px) {
  .header__mobile {
    border-bottom: 1px solid #f1f1f1;
    padding: 8px 8px 8px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    width: 100%;
  }

  .header__mobileLogo {
    text-transform: uppercase;
    color: #2c60e3;
    line-height: 1.19;
    font-weight: 700;
  }
}
