.content {
	width: 343px;
}

.title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	width: 100%;
	padding-right: 148px;
	padding-bottom: 15px;
	border-bottom: 1px solid #BDBDBD;
	margin-bottom: 20px;
}

.list{
	width: 100%;
}

.listItem {
	padding: 30px 15px;
	background-color: #EFEFEF;
	border-radius: 5px;
	margin-bottom: 10px;
}

.text {
	margin-bottom: 10px;
}


button {
	text-align: start;
}